<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904427850521-4klj7cpgbsot1i7fpgajk569vvgo0et5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904427850521-4klj7cpgbsot1i7fpgajk569vvgo0et5</string>
	<key>API_KEY</key>
	<string>AIzaSyAiNq-JXNsDpVErrprX5V4hZrwd5JvfC7I</string>
	<key>GCM_SENDER_ID</key>
	<string>904427850521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FindingItJob</string>
	<key>PROJECT_ID</key>
	<string>pushnoti-react-findjob</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnoti-react-findjob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904427850521:ios:3e8403ad30c912abd51388</string>
</dict>
</plist>